<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KARAAPIBaseURL</key>
	<string>$(KARA_API_BASE_URL)</string>
	<key>NSCameraUsageDescription</key>
	<string>KARA uses the camera to identify an asset and scan its invoice.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>KARA uses Face ID to protect access to your private vault.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Geologica-Variable.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
</dict>
</plist>
